@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pixelify+Sans&display=swap');

body{
    background: #F1F1EE
    
}

h1{
    font-family: 'Pixelify Sans', sans-serif;;
    font-weight: 800;
    font-size: 6.5rem;
    text-align: CENTER; 
}

h2, h3{
    font-weight: 400;
    font-size: 2.0rem;
    text-align: CENTER; 
}

h4{
   font-family: 'Pixelify Sans', sans-serif;
   font-size: small;
} 

h2, h3, h5, p{
    font-family: 'Montserrat', sans-serif;
}

.nav-item {
    text-align: center;
}

.carousel-indicator{
    width: 300px;
    height:300PX;
}
.carousel-control {
    color: black;
    transition: opacity .15s ease;
}
.carousel-caption {
    border-color: black;
}

.container-fluid {
    fill: yellow;
}



.espacio{
margin-top: 2%;
}

.contenedor{
margin-top: 5%;
}

.contenedorcolor{
    margin-top: 10%;
    background-color: rgb(255, 208, 0)
    
}


.tam{
    height: 50px;
    width: 50px;
    float: right;
}

.espacio2{
    margin: 2%;
}
          